hacking>=0.12.0,!=0.13.0,<0.14  # Apache-2.0

coverage>=3.6 # Apache-2.0
ddt>=1.0.1  # MIT
mock>=2.0 # BSD
python-subunit>=0.0.18 # Apache-2.0/BSD
testrepository>=0.0.18 # Apache-2.0/BSD
testtools>=1.4.0 # MIT

openstackdocstheme>=1.11.0 # Apache-2.0
sphinx>=1.6.2 # BSD

# Bandit security code scanner
bandit>=1.1.0 # Apache-2.0

python-ceilometerclient>=2.5.0 # Apache-2.0
pymongo>=3.0.2,!=3.1 # Apache-2.0

# Elasticsearch python client
elasticsearch>=2.0.0,<=3.0.0 # Apache-2.0

# Redis python client
redis>=2.10.0 # MIT

# Build release notes
reno>=1.8.0 # Apache-2.0
