hacking>=0.10.2,<0.11

coverage>=3.6
discover
mock>=1.2
python-subunit>=0.0.18
testrepository>=0.0.18
testtools>=1.4.0

oslosphinx>=2.5.0,!=3.4.0  # Apache-2.0
sphinx>=1.1.2,!=1.2.0,!=1.3b1,<1.3

# Bandit security code scanner
bandit>=0.17.3 # Apache-2.0